.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.2rem;
  width: 30rem;
}

.sidebar__nav {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 1.6rem 0 0 1.6rem;
}


.library {
  background-color: var(--primary-color);
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.4rem 0.8rem;
  margin-top: 1rem;
}

.library .library__content {
  display: flex;
  border-radius: 0.8rem;
  justify-content: space-between;
}

.section-playlist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--secondary-color);
  border-radius: 0.8rem;
  margin: 0.8rem 0px;
  padding: 1.6rem 2rem;
}

.section-playlist .section-playlist__content {
  display: flex;
  flex-direction: column;
}

.disclaimer-premium {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(93, 143, 191, 1) 0%, rgba(184, 163, 208, 1) 100%);
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: space-between;
}

/* HEADER */
.main-container {
  max-width: 80vw;
  max-height: 100vh;
  margin-left: 32rem;
  margin-right: 5.6rem;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  margin: 1rem;
  border-radius: 0.8rem;
  background-color: var(--primary-color);
}

.header__nav .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

