.sidebar__nav .logo {
  display: flex;
  border-radius: 0.8rem;
  padding: 1.6rem 0 0 1.6rem;
  background: #56431B;
}

.sidebar__nav .logo img {
  width: 8rem;
}

.sidebar nav ul {
  margin-top: 2rem;
  padding: 0 2rem 0 2rem;
}

.sidebar nav ul li {
  padding: 1rem 0;
}

.sidebar nav ul li a {
  color: #FEEAB6;
  font-weight: 600;
  font-size: var(--fonte-pequena);
}

.library .library__button {
  display: flex;
  margin-right: 1rem;
  color: #FEEAB6;
  background-color: transparent;
  border: 0px;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: var(--fonte-secundaria);
  text-transform: none;
  padding: 2rem 1rem;
}

.library .library__button .fa {
  font-size: 2rem;
  margin-right: 1rem;
  padding-right: 0.8rem;
}

.library .library__content .fa-plus {
  margin: 2.4rem 1rem;
}

.section-playlist__content .text {
  padding-bottom: 1.4rem;
  color: #4B4433;
}

.section-playlist__content .title {
  font-weight: 700;
}

.section-playlist__content .subtitle {
  font-weight: 500;
  font-size: 1.2rem;
}

.section-playlist__content .section-playlist__button {
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #4B4433;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: var(--fonte-secundaria);
  text-transform: none;
  padding: 1rem;
  margin-top: 1.2rem;
  width: 11.3rem;
}

.sidebar .cookies {
  margin: 2.5rem 2rem;
}

.sidebar .cookies a {
  color: #FEEAB6;
  font-weight: 500;
  font-size: 1rem;
}

.sidebar .cookies a:hover {
  text-decoration: underline;
}

.languages .languages__button {
  background-color: transparent;
  border: 1px solid #878787;
  color: #FEEAB6;
  font-weight: 700;
  cursor: pointer;
  width: 17rem;
  margin: 0.8rem;
  padding: 0.8rem;
  border-radius: 2rem;
}