* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  /* outline: 1px solid red; */
}

html {
  font-size: 62.5%;
  font-family: var(--fonte-primaria);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--font-color);
}

a {
 font-family: var(--fonte-secundaria);
}